{% extends 'ssms/base.html' %}

{% load staticfiles %}



{% block block1 %}
<div class="row"><div><h1 class="text-center">Contacts</h1></div>
        <hr >
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="table-responsive ">
                   <table class="table table-bordered">
                      <center><caption></caption></center>
                      <thead>
                         <tr>
                            <th>Name</th>
                            <th>Post(s)</th>
                            <th>Contact</th>
                         </tr>
                      </thead>
                      <tbody>
			<tr>
                            <td><a>Mayank Vikhona</a></td>
                            <td>Technical Head, SSMS Technical Team</td>
                            <td>+91-8058903337</td>
                         </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </center>

{% endblock %}
