{% extends 'ssms/base.html' %}

{% load staticfiles %}



{% block block1 %}
<div class="row"><div><h1 class="text-center">Contacts</h1></div>
        <hr >
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
		<div class="panel-group" id="accordion">
			 <div class="panel panel-default">
    <div class="panel-heading">

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">

<h4 class="panel-title">  SSMS </h4></a>

    </div>
	<div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
                   <table class="table table-bordered">

                      <thead>
                         <tr>
                            <th>Name</th>
                            <th>Post</th>
                            <th>Contact</th>
                         </tr>
                      </thead>
                      <tbody>
			<tr>
				<td><a>Srajit Sakhuja</a></td>
        <td>Treasurer (SSMS), Expert Member, SSMS</td>
        <td>+91-7728835821</td>
			</tr>

      <tr>
        <td><a>Gayatri Bhat</a></td>
        <td>Expert Member, SSMS</td>
        <td>+91-9035657451</td>
			</tr>

      <tr>
				<td><a>Saikrishna Kondameedi</a></td>
        <td>President, SSMS</td>
        <td>+91-9461371881</td>
			</tr>

      <tr>
        <td><a>Adeesh Bhargava</a></td>
        <td>Secretary, SSMS</td>
        <td>+91-8003308702</td>
			</tr>

      <tr>
				<td><a>Ishan Joglekar</a></td>
        <td>Member, Advisory and Monitoring Committee</td>
        <td>+91-8976402763</td>
	    </tr>

      <tr>
        <td><a>Satwadhi Das</a></td>
        <td>Member, Advisory and Monitoring Committee</td>
        <td>+91-7240762969</td>
			</tr>

      <tr>
				<td><a>Divya Padte</a></td>
        <td>Member, Advisory and Monitoring Committee</td>
        <td>+91-7303286053</td>
			</tr>

      <tr>
        <td><a>Aditchandra</a></td>
        <td>Member, Advisory and Monitoring Committee</td>
        <td>+91-8290801301</td>
			</tr>

      <tr>
				<td><a>Shivam Agarwal</a></td>
        <td>Mess Representative, SV Mess</td>
        <td>+91-9829075773</td>
	    </tr>

      <tr>
			  <td><a>Praneetha Chavana</a></td>
        <td>Mess Representative, MB Mess</td>
        <td>+91-7891511459</td>
      </tr>

      <tr>
        <td><a>V Abhishek Balaji</a></td>
        <td>Mess Representative, RB Mess</td>
        <td>+91-7010928908</td>
      </tr>

      <tr>
				<td><a>Anubhav Pandey</a></td>
        <td>Mess Representative, KG Mess</td>
        <td>+91-9818605935</td>
			</tr>

      <tr>
        <td><a>Vivek Golani</a></td>
        <td>Mess Representative, VKB Mess</td>
        <td>+91-8369713638</td>
			</tr>

      <tr>
				<td><a>Anubhav Kaul</a></td>
        <td>Mess Representative, CVR Mess</td>
        <td>+91-8171130750</td>
	    </tr>

      <tr>
        <td><a>Yuvraj Singh</a></td>
        <td>Mess Representative, SR Mess</td>
        <td>+91-6362384360</td>
      </tr>

      <tr>
        <td><a>Ayush Kumar</a></td>
        <td>Mess Representative, MAL Mess</td>
        <td>+91-9829773327</td>
      </tr>

      <tr>
        <td><a>Aditya Wagh</a></td>
        <td>Mess Representative, RPA Mess</td>
        <td>+91-7447793555</td>
      </tr>
			</tbody>
                    </table>
		</div>
		 </div>
  </div>


		<div class="panel panel-default">
		<div class="panel-heading">

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <h4 class="panel-title">SSMS Election Commission</h4></a>

    </div>
    <div id="collapse3" class="panel-collapse collapse">
<div class="panel-body">

<table  class="table table-bordered " >

                      <thead>
                         <tr>
                            <th>Name</th>
                            <th>Post</th>
                            <th>Contact</th>
                         </tr>
                      </thead>
                      <tbody>
			<tr>
				<td><a>Archana Tatavarti</a></td>
                            <td>Member</td>
                            <td>+91 8503852950</td>
			</tr>
			<tr>
                            <td><a>Siddhant</a></td>
                            <td>Member</td>
                            <td>+91 7728808131</td>
			</tr>
			<tr>
				<td><a>Apoorv Khanuja</a></td>
                            <td>Member</td>
                            <td>+91 7728807807</td>
	</tr>
<tr>
                            <td><a>Pranjali Aggarwal</a></td>
                            <td>Member</td>
                            <td>+91 9929952095</td>
</tr>
				<tr>
				<td><a>Prateek Behera</a></td>
                            <td>Member</td>
                            <td>+91 9928837205</td>
			</tr>
				<tr>
				<td><a>Nabarun Gogoi </a></td>
                            <td>Member</td>
                            <td>+91 7896225540</td>
			</tr>
</tbody>
                    </table>
	</div>
  </div>
</div>


<div class="panel panel-default">
		<div class="panel-heading">

        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        <h4 class="panel-title">SSMS Tech Team</h4></a>

    </div>
    <div id="collapse5" class="panel-collapse collapse">
<div class="panel-body">
<table  class="table table-bordered" >

                      <thead>
                         <tr>
                            <th>Name</th>
                            <th>Post</th>
                            <th>Contact</th>
                         </tr>
                      </thead>
                      <tbody>
			<tr>
				<td><a>Rohit Lodha</a></td>
                            <td>Web Technical Head</td>
                            <td>+91-8384998457</td>
			</tr>
            <tr>
                <td><a>Utkarsh Vashishtha</a></td>
                            <td>Software Technical Head</td>
                            <td>+91-9871483169</td>
            </tr>
			<tr>
				<td><a>Ishan Bhanuka</a></td>
                            <td>Member</td>
                            <td></td>
	</tr>
			<tr>
				<td><a>Tushar Goel</a></td>
                            <td>Member</td>
                            <td></td>
	</tr>

</tbody>
                    </table>



                </div>
            </div>
        </div>

</div>
{% endblock %}
