{% extends 'ssms/base.html' %}

{% load staticfiles %}



{% block block1 %}
{% if user.is_staff %}
       
	<h2 class="text-center"><a href="{% static 'sample-sheet-grubs.xlsx' %}"><button class="btn btn-md btn-success">Sample Sheet</button></a></h2>
	{% if e == 2 %}
	        <h1></h1>
	<hr>
                    <h2 class="intro-text text-center">{{ grub.name }} : Upload List 
                    </h2>
                    <hr>
                   <h5 class="text-center text-info"> Supported File Formats: xls, xlsx, csv</h5>
<h1>{{ invalid }}</h1>
        <form id="coord_upload"  role="form"  class="form-horizontal"  method="post"  enctype="multipart/form-data">  
            {% csrf_token %}
           {% for field in form %}
		<div class="form-group">
	<div class="text-danger ">{{ field.errors }}</div>
      	<label class="control-label " >{{ field.label_tag }}</label>
	      	<div >
		{{ field }}
		</div>
      	</div>
		{% endfor %}
          <input class=" btn btn-lg btn-info" type="submit" name="submit" value="Add Excel" />
        </form>
	<br/>
	<h5>Last date for uploading excel is before {{ grub.deadline2 }}</h5>
	{% elif e == 4 %}
	<h3 class="text-center text-danger">Grub is over. You can now upload Spot Signing list .</h1>
	<hr>
		
                    <h2 class="intro-text text-center">{{ grub.name }} : Upload Spot Signing list
                    </h2>
                    <hr>
                   <h5 class="text-center text-info"> Supported File Formats: xls, xlsx, csv</h5>
{{ invalid }}
        <form id="coord_upload"  role="form"  class="form-horizontal"  method="post"  enctype="multipart/form-data">  
            {% csrf_token %}
           {% for field in form %}
		<div class="form-group">
	<div class="text-danger ">{{ field.errors }}</div>
      	<label class="control-label " >{{ field.label_tag }}</label>
	      	<div >
		{{ field }}
		</div>
      	</div>
		{% endfor %}
          <input class=" btn btn-lg btn-info" type="submit" name="submit" value="Add Excel" />
        </form>
	<br/>
	{% else %}
	<h3 class="text-center">Uploading Students list date is over.</h3>
	<h3 class="text-center">Upload Spot Signing list after the grub is over.</h3>
	{% endif %}
{% else %}
<h3>You are not allowed to view this page</h3>
<h3>Login to View this page</h3>
{% endif %}
{% endblock %}
