{% extends 'ssms/base.html' %}

{% load staticfiles %}

{% block title %}reg{% endblock %}

{% block block1 %}

<p>Choose a Bhawan, and click the "Submit" button.</p>
<form role="form"  class="form-horizontal" method="post" >
{% csrf_token %}
<select name="bhawan">
<option value="All">All</option>
  <option value="RM">RM</option>
  <option value="BD">BD</option>
  <option value="RP">RP</option>
  <option value="DS">DS</option>
  <option value="ML">ML</option>
  <option value="MLE">MLE</option>
  <option value="BG">BG</option>
  <option value="GN">GN</option>
  <option value="MR">MR</option>
  <option value="VK">VK</option>
  <option value="KR">KR</option>
  <option value="AK">AK</option>
  <option value="SK">SK</option>
	<option value="VY">VY</option>

</select>
<input type="submit" value="Submit" onClick="return confirm('This list is temporary. It is bound to change.');">
</form>
{% endblock %}
