{% extends 'ssms/base.html' %}

{% load staticfiles %}



{% block block1 %}
<div class="row"><div><h1 class="text-center">Today's Menu ({{day}})</h1></div>
{% if error %}
{{error}}
{% else %}
<table class="table table-bordered">

    <tr>
            <th>BREAKFAST</th>
            {% ifequal lunchgrub "1" %}<th style="background-color:red">GRUB</th>{% else %}<th>LUNCH</th>{% endifequal %}
            {% ifequal dinnergrub "1" %}<th style="background-color:red">GRUB</th>{% else %}<th>DINNER</th>{% endifequal %}
    </tr>
</thead>
<tbody>
    <tr>
        <td>
        <table class="table table-bordered table-hover table-striped" >
        <tbody>
            {% for i in breakfast %}
            <tr><td>{{i}}</td></tr>
            {% endfor %}
        </tbody>
        </table>
        </td>

        <td>
        <table class="table table-bordered table-hover table-striped">
        <tbody>
            {% for i in lunch %}
           <tr><td>{{i}}</td></tr>
             {% endfor %}
        </tbody>
        </table>
        </td>

        <td>
        <table class="table table-bordered table-hover table-striped">
        <tbody>
            {% for i in dinner %}
            <tr><td>{{i}}</td></tr>
             {% endfor %}
        </tbody>
        </table>
        </td>

</tbody>
</table>

{% endif %}
{% endblock %}

