{% extends 'ssms/base.html' %}

{% load staticfiles %}

{% block block1 %}
	
{% if user.is_superuser %}

    {% if grub %}
		    <h2 class="brand-before text-center">
                        {% ifequal i 2 %}
			<small><strong>Veg + Non Veg</strong></small>
			{% else %}
                        <small><strong>{{ grub.meal }}</strong></small>
			{% endifequal %}
                    </h2>
                    <h1 class="brand-name text-center">{{ grub.name }}</h1>
                    <hr class="tagline-divider">
			<h2 class="text-center">
                        <small>On
                            <strong>{{grub.date}}</strong>
                        </small>
                    	</h2>
  {% ifequal i 0 %}
<h4 class="text-center">Veg Menu</h4>
<img class="img-responsive img-full" src="{{ meal.v_images.url }} " alt="">
{% endifequal %}
	{% ifequal i 1 %}
<h4 class="text-center">Non Veg Menu</h4>
		<img class="img-responsive img-full" src="{{meal.n_images.url }} "  />
{% endifequal %}
	{% ifequal i 2 %}
		<div class="text-center">
		<h4 class="text-center">Veg Menu</h4>
		<img class="img-responsive img-full" src="{{meal.veg_images.url }} "  />
		<hr>
		<h4 class="text-center">Non Veg Menu</h4>
		<img class="img-responsive img-full" src="{{meal.non_veg_images.url }} "  />
		</div>
{% endifequal %}
	<h3>Cancellations starts on {{ grub.deadline2 }}<h3>
	<h3 >Cancellations Deadline: {{grub.deadline}}</h3>
	<h3  class="text-right"  >Status: {{grub.status}}</h3>
	<h3  class="text-right"  >Spot Signing: {{grub.spot_signing}}</h3>
	<h3  class="text-right"  >Batch Allocated: {{grub.batch_allocated}}</h3>
	
	{% ifequal i 0 %}
		<h3>veg price: {{meal.v_price}}</h3>
		<h3>veg venue: {{meal.v_venue}}</h3>
	{% endifequal %}
	{% ifequal i 1 %}
		
		<h3>Non veg price: {{meal.n_price}}</h3>
		<h3>Non veg venue: {{meal.n_venue}}</h3>
	{% endifequal %}
	{% ifequal i 2 %}
		
	<h3>veg price: {{meal.veg_price}}</h3>
	<h3>non-veg price: {{meal.non_veg_price}}</h3>
	<h3>veg venue: {{meal.veg_venue}}</h3>
	<h3>non-veg venue: {{meal.non_veg_venue}}</h3>
	{% endifequal %}
	
	{% ifequal e 4 %}
	<h1>Grub is over</h1>
	<h3 class="col-md-3"><a href="/ssms/stats/{{grub.gm_id}}/"><button type="button" class="btn btn-lg btn-info"><strong>View Stats</strong></button></a></h3>
	
	{% else %}
	{% ifequal grub.status "Active" %}
	<h3 class="col-md-3"><a href="/ssms/stats/{{grub.gm_id}}/"><button type="button" class="btn btn-lg btn-info"><strong>View Stats</strong></button></a></h3>
	<h3 class="text-right"><a href="/ssms/ssms/grub/{{grub.gm_id}}/sendmail/"><button type="button" class="btn btn-lg btn-warning" >Send Mail</button></a></h3>
	
	<h3 class=" text-right"><a href="/ssms/ssms/grub/{{grub.gm_id}}/inactive/"><button type="button" class="btn btn-lg btn-danger" onClick="return confirm('Are you sure you want to Inactivate the grub {{ grub.name }}?');">Inactivate</button></a></h3>
	{% else %}
	<h3 class="text-right"><a href="/ssms/ssms/grub/{{grub.gm_id}}/active/"><button type="button" class="btn btn-lg btn-success" onClick="return confirm('Are you sure you want to Activate the grub {{ grub.name }}?');">Activate</button></a></h3>
	
	{% endifequal %}
	<h3 class="text-right"><a href="/ssms/ssms/grub/{{grub.gm_id}}/batchallocation"><button type="button" class="btn btn-lg btn-success"><strong>Allocate Batches</strong></button></a></h3>
	
	<h3 class="text-right"><a href="/ssms/coord/register-students/{{grub.gm_id}}/"><button type="button" class="btn btn-lg btn-info"><strong>Register Students</strong></button></a></h3>

	{% endifequal %}
	<h3 class="col-md-3"><button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#search{{ grub.gm_id }}"><strong>Download List</strong></button></h3>
	<h3 class="text-right"><a href="/ssms/ssms/grub/{{grub.gm_id}}/editdeadline"><button type="button" class="btn btn-lg btn-info"><strong>Edit Deadline</strong></button></a></h3>
	{% ifequal grub.spot_signing "Yes" %}
	<h3 class="col-md-3"><a href="/ssms/ssms/grub/{{grub.gm_id}}/spot_signing/"><button type="button" class="btn btn-lg btn-danger"><strong>Close Spot Signing </strong></button></a></h3>
	{% else %}
	<h3 class="col-md-3"><a href="/ssms/ssms/grub/{{grub.gm_id}}/spot_signing/"><button type="button" class="btn btn-lg btn-success"><strong>Open Spot Signing </strong></button></a></h3>
	{% endifequal %}
	


<div id="search{{ grub.gm_id }}" class="modal fade" role="dialog">
<div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">{{ grub.name }}</h4>

      </div>
      <div class="modal-body">
        <form role="form"  class="form-horizontal" method="post" action="/ssms/export/{{ grub.gm_id }}/" >
{% csrf_token %}
Bhawan:
<select  name="bhawan">

<option value="All">All</option>
<option value="MR">MR</option>
  <option value="RM">RM</option>
  <option value="BD">BD</option>
  <option value="RP">RP</option>
	 <option value="AK">AK</option>

 <option value="BG">BG</option>
	  <option value="VK">VK</option>
  <option value="ML">ML</option>
  <option value="MLE">MLE</option>
 
  <option value="GN">GN</option>
  

  <option value="KR">KR</option>
 
  <option value="SK">SK</option>
	<option value="VY">VY</option>
		<option value="CVR">CVR</option>
	<option value="SR">SR</option>
  <option value="DS">DS</option>

</select>
<br>
<br>

{% if grub.date|timesince <= "1 day" %}
<input type="submit" class="btn btn-lg btn-success btn-block "  value="Submit"  onClick="return confirm('This list is temporary. It is bound to change.');">
{% else %}
<input type="submit" class="btn btn-lg btn-success btn-block "  value="Submit" >
{% endif %}
</form>
      </div>
      
    </div>

  </div>
</div>







    {% endif %}


{% else %}
<h3>You are not allowed to view this page</h3>
<h3>Login to View this page</h3>
{% endif %}
{% endblock %}

