{% extends 'ssms/base.html' %}

{% load staticfiles %}

{% block title %}reg{% endblock %}

{% block block1 %}
	{% if d %}
	<h1>Done!</h>
	{% else %}
    <hr>
                    <h2 class="intro-text text-center">Upload Students List
                    </h2>
                    <hr>
	<h5 class="text-center text-info"> Supported File Formats: xls, xlsx, csv</h5>
    

    <form action="" enctype="multipart/form-data"  method="post">
	{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br/>
	
        <input class=" btn btn-md btn-info" type="submit" value="Upload">
    </form>
<h3 > Note : You have to upload Students List here in the below mentioned format.</h3>
<h3> S_ID    |    IDNO    |    NAME   |   ROOM   |   BHAWAN   |</h3>
	{% endif %}
{% endblock %}
